@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.projects{
    grid-row: 7 / span 10;
    grid-column: 1 / span 10;
    background-color: var(--blacked);
    scroll-snap-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    &--footer{
        align-self: flex-start;
        width: 100%;
        flex-basis: 35%;
        background-image: url(../../assets/images/wave.png);
        background-size: cover;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        &__copyright{
            color: white;
            padding-top: 12.5rem;
            font-size: 1.225rem;
            font-weight: lighter;
        }
        &__link{
            width: 3%;
            height: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
            &--background{
                width: 100%;
                height: 100%;
            }
        }
    }
    &--live{
        flex-basis: 60%;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        &__title{
            width: 100%;
            flex-basis: 25%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-weight: lighter;
            position: relative;
            font-size: 1.65rem;
            &::after{
                content: "";
                position: absolute;
                width: 7.25%;
                height: 1%;
                left: 50%;
                bottom: 40%;
                transform: translate(-50%, -40%);
                background-color: var(--green);
            }
        }
        &__container{
            width: 100%;
            height: 75%;
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            flex-wrap: wrap;
            &--card{
                flex-basis: 40%;
                height: 70%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                &__title{
                    color: white;
                    font-size: 1.5rem;
                    padding-top: 2rem;
                    font-weight: lighter;
                }
                &__box{
                    width: 100%;
                    height: 0%;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: flex-start;
                    flex-direction: column;
                    transition: all .4s linear;
                    background-color: var(--blackest);
                    &--subtitle{
                        color: white;
                        padding-left: 1rem;
                        padding-top: 2rem;
                        font-weight: lighter;
                        font-size: 1rem;
                        opacity: .8;
                        display: none;
                        animation: fadeIn 1.25s linear;
                    }
                    &--button{
                        width: 20%;
                        height: 20%;
                        text-align: center;
                        text-decoration: none;
                        color: white;
                        display: none;
                        animation: fadeIn 1.25s linear;
                        border: .15rem solid white;
                        padding-top: .75rem;
                        margin-left: 1rem;
                        transition: all .2s linear;
                        font-weight: bold;
                        &:hover{
                            background-color: white;
                            color: var(--blacked);
                        }
                    }
                }
            }
        }
    }
}

.green{
    background-image: url(../../assets/images/code.jpg);
    background-size: cover;
}

.sock{
    background-image: url(../../assets/images/calculator.jpg);
    background-size: 100% 100%;
}

.projects--live__container--card:hover .projects--live__container--card__box{
    height: 60%;
    &--subtitle{
        display: block;
    }
    &--button{
        display: block;
    }
}

@media (min-width: 415px) and (max-width: 768px){  

    .projects--live__title{
        &::after{
            width: 16%;
        }
    }

    .projects--footer{ 
        &__link{
            width: 5%;
            height: 7.5%;
        }
    }

    .projects--live__container--card{
        flex-basis: 60%;
        height: 40%;
    }

    .projects--live__container--card__box{
        &--button{
            width: 30%;
            height: 25%;
            padding-top: .6rem;
            font-size: .95rem;
        }
        &--subtitle{
            padding-top: .5rem;
        }
    }

    .projects--live__container--card:hover .projects--live__container--card__box{
        height: 65%;
    }
}

@media (min-width: 769px) and (max-width: 1024px){

    .projects--live__title{
        &::after{
            width: 12%;
        }
    }

    .projects--footer{ 
        &__link{
            width: 5%;
            height: 12.5%;
        }
    }

    .projects--live__container--card{
        flex-basis: 60%;
        height: 45%;
    }

    .projects--live__container--card__box{
        &--button{
            width: 20%;
            height: 25%;
            padding-top: .5rem;
            font-size: .95rem;
        }
        &--subtitle{
            padding-top: .5rem;
        }
    }

    .projects--live__container--card:hover .projects--live__container--card__box{
        height: 65%;
    }
}

@media (min-width: 361px) and (max-width: 414px){

    .projects--live__title{
        &::after{
            width: 30%;
            bottom: 39%;
        }
    }


    .projects--footer{ 
        &__copyright{
            padding-top: 10rem;
        }
        &__link{
            width: 10%;
            height: 12%;
        }
    }

    .projects--live__container--card{
        flex-basis: 70%;
        height: 50%;
        margin-top: 2rem;
    }

    .projects--live__container--card__box{
        &--button{
            width: 35%;
            height: 20%;
            padding-top: .5rem;
            font-size: .75rem;
        }
        &--subtitle{
            padding-top: .5rem;
            font-size: .75rem;
        }
    }

    .projects--live__container--card:hover .projects--live__container--card__box{
        height: 70%;
    }
}

@media (min-width: 415px) and (max-width: 736px){


    .projects--footer{ 
        &__copyright{
            padding-top: 6.5rem;
        }
        &__link{
            width: 5%;
            height: 15%;
        }
    }

    .projects--live__container--card{
        flex-basis: 40%;
        height: 80%;
        margin-top: 2rem;
    }

    .projects--live__container--card__box{
        &--button{
            width: 35%;
            height: 20%;
            padding-top: .25rem;
            font-size: .75rem;
        }
        &--subtitle{
            padding-top: .25rem;
            font-size: .75rem;
        }
    }

    .projects--live__container--card:hover .projects--live__container--card__box{
        height: 70%;
    }
}

@media only screen and (max-width: 360px){

    .projects--live__title{
        &::after{
            width: 32.5%;
            bottom: 37.5%;
        }
    }

    .projects--footer{ 
        &__copyright{
            padding-top: 10rem;
        }
        &__link{
            width: 12.5%;
            height: 11%;
        }
    }

    .projects--live__container--card{
        flex-basis: 70%;
        height: 50%;
        margin-top: 2rem;
    }

    .projects--live__container--card__box{
        &--subtitle{
            padding-top: 0;
            font-size: .65rem;
        }
        &--button{
            width: 35%;
            height: 25%;
            padding-top: .5rem;
            font-size: .65rem;
        }
    }

    .projects--live__container--card:hover .projects--live__container--card__box{
        height: 65%;
    }
}

@media (min-width: 415px) and (max-width: 640px){
        .projects--live__container--card__box{
            &--subtitle{
                font-size: .65rem;
            }
            &--button{
                width: 35%;
                height: 25%;
                padding-top: .45rem;
            }
        }
        .projects--footer{ 
            &__copyright{
                padding-top: 5rem;
            }
            &__link{
                width: 7.5%;
                height: 21%;
            }
        }
}

@media (min-width: 361px) and (max-width: 375px){
    .projects--live__container--card__box--button{
        padding-top: .5rem;
    }

    .projects--footer{ 
        &__copyright{
            padding-top: 10rem;
        }
        &__link{
            width: 10%;
            height: 10%;
        }
    }
}

@media(min-width: 737px) and (max-width: 740px){
    .projects--live__container--card{
        flex-basis: 45%;
        height: 90%;
        margin-top: 2rem;
    }

    .projects--footer{ 
        &__copyright{
            padding-top: 5rem;
        }
        &__link{
            width: 5%;
            height: 17.5%;
        }
    }

    .projects--live__container--card__box{
        &--subtitle{
            padding-top: 0;
            font-size: .65rem;
        }
        &--button{
            width: 32.5%;
            height: 25%;
            padding-top: .25rem;
            font-size: .65rem;
        }
    }
}